{% load static generals_tag %}
{% block content %}
<div class="container">
    <ul class="aml__nav nav-text">
        <li class="nav-text__item"><a href="#" class="nav-text__link">Terms and conditions of service</a></li>
        <li class="nav-text__item"><a href="#" class="nav-text__link">Cookie Policy</a></li>
        <li class="nav-text__item"><a href="#" class="nav-text__link">Personal data processing policy</a></li>
        <li class="nav-text__item"><a href="#" class="nav-text__link nav-text__link--active">AML / KYC</a></li>
    </ul>
    <div class="aml__text"><h1 class="heading heading--size-s">Anti-Money Laundering and KYC Policy</h1>
        <ol>
            <li>In accordance with international law, the Service adheres to a number of rules and implements
                procedures aimed at preventing the use of the Service for money laundering and other illegal
                activities.
            </li>
            <li>To prevent illegal transactions, the Service establishes certain requirements for all Requests
                created by the User:
                <ul>
                    <li>Transfers to third parties are strictly prohibited;</li>
                    <li>All contact information entered by the User in the Request, as well as other personal
                        data transmitted by the User to the Service, must be current and completely accurate;
                    </li>
                    <li>It is strictly prohibited for the User to create Requests using anonymous proxy servers
                        or any other anonymous internet connections.
                    </li>
                </ul>
            </li>
            <li>The Service reserves the right to request a photo or video of the User with an identification
                document as part of the KYC (Know Your Customer) policy. The Client's identification information
                will be collected, stored, transferred, and protected strictly in accordance with the Company's
                Personal Data Processing Policy.
            </li>
            <li>The User will be denied an exchange if the Service is not satisfied with the information
                provided, or if there are doubts as to the User's identity.
            </li>
            <li>The Service reserves the right to suspend all current User requests until the User receives
                copies of their identity documents and other information necessary to verify the transaction in
                the following cases:
                <ul>
                    <li>If a violation of any of the requirements set out in Section 2 of this Agreement is
                        detected;
                    </li>
                    <li>If the User's request is suspended by the fraud prevention system;</li>
                    <li>If the Service has reasonable grounds to suspect that the User is attempting to use the
                        Service for the purpose of conducting illegal transactions;
                    </li>
                    <li>If high-risk transactions involving the User's details are detected.</li>
                    <li>In turn, the User undertakes to provide the requested document within 7 business days of
                        receiving the request for its provision, or request cancellation of the request.
                    </li>
                </ul>
            </li>
            <li>To identify high-risk transactions and addresses, the Service uses an internal verification and
                analysis system. The Service reserves the right not to disclose information about the methods
                and results of verifying the User's transactions.
            </li>
            <li>If high-risk transactions involving the User's details are detected, the Service reserves the
                right to cancel the request and return the funds or digital currencies deposited by the User.
                Refunds are made only to the details from which the transfer was made. When making a refund, all
                commission costs for the transfer of funds or digital currencies are covered by the User from
                the funds received. The Service is not responsible for any possible delays in refunds that are
                not the Service's fault.
            </li>
            <li>If the User refuses to provide the requested documents, the Service reserves the right to refuse
                further service to the User.
            </li>
            <li>The Service reserves the right to refuse further service to the User and transfer all User data
                held by the Service, as well as all available information about the User's transactions, to law
                enforcement agencies in the following cases:
                <ul>
                    <li>Identification of transactions aimed at money laundering, financing terrorist
                        organizations, fraud of any kind, or transactions aimed at conducting any other illegal
                        or improper operations;
                    </li>
                    <li>If the Service has reasonable grounds to suspect that the identification document
                        provided by the User is counterfeit or invalid;
                    </li>
                    <li>Receipt of information from authorized bodies regarding the User's illegal possession of
                        funds or digital currencies, or other information that makes it impossible for the
                        Service to provide services to the User;
                    </li>
                    <li>Identification of any actions or attempted actions by the User aimed at exerting any
                        negative impact on the Service's hardware and software;
                    </li>
                    <li>Detection of any actions or attempted actions by the User aimed at stealing databases or
                        other tangible or intangible assets of the Service;
                    </li>
                    <li>Detection of any actions or attempted actions by the User that could cause any physical,
                        tangible, or intangible damage to the Service;
                    </li>
                    <li>If funds are received from a card different from the one verified, the Service will
                        suspend the exchange. Funds for this request will be returned to the sender within 24
                        hours of the request and subject to mandatory verification of the card from which the
                        funds were received. When making a refund, all commission costs for the transfer of
                        funds or digital currencies will be covered from the received funds at the User's
                        expense.
                    </li>
                </ul>
            </li>
            <li>The Service reserves the right to suspend all current User requests until the User receives
                copies of documents or other information confirming payment for the request.
            </li>
            Some exchange directions may be unavailable to Users using IP addresses from countries subject to
            international sanctions.
        </ol>
    </div>
</div>
{% endblock content %}

