{% load static generals_tag i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% get_settings_first as settings %}{{settings.name}} - {% block title %}{% endblock title %}</title>
    <meta content="{% block description %}{% endblock description %}" name="description">
    <meta property="og:title" content="{% block propertytitle %} {% endblock propertytitle %}">
    <meta property="og:description" content="{% block propertydescription %}{% endblock propertydescription %}">
    <meta property="og:image" content="{% block propertyimage %}{% endblock propertyimage %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% if settings.favicon %}{{settings.favicon.url}}{% endif %}" />

    <link rel="stylesheet" href="{% static 'site/assets/css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/assets/css/style.min.css' %}">
<body class="index">
<div class="body-wrapper"  id="content">
    <header class="header">
        <div class="container">
            <div class="header__container"><a class="header__logo">
                <picture>
                    <source media="(min-width: 743px)"
                            srcset="assets/img/logo-table.png, assets/img/logo-table@2x.png 2x">
                    <img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x" alt="Logo" width="120"
                         height="30"></picture>
            </a>
                <nav class="header__nav main-nav">
                    <div class="main-nav__wrapper">
                        <ul class="main-nav__list">
                            <li class="main-nav__item"><a href="{% url 'webmain:home' %}" hx-get="{% url 'webmain:home' %}" hx-target="#content-body" hx-push-url="true" class="main-nav__link ">Home</a></li>
                            <li class="main-nav__item"><a href="{% url 'webmain:about' %}" hx-get="{% url 'webmain:about' %}" hx-target="#content-body" hx-push-url="true" class="main-nav__link ">About us</a></li>
                            <li class="main-nav__item"><a href="{% url 'webmain:exchange' %}" hx-get="{% url 'webmain:exchange' %}" hx-target="#content-body" hx-push-url="true" class="main-nav__link ">Exchange</a></li>
                            <li class="main-nav__item"><a href="{% url 'webmain:aml' %}" hx-get="{% url 'webmain:aml' %}" hx-target="#content-body" hx-push-url="true" class="main-nav__link ">AML/KYC</a></li>
                            <li class="main-nav__item"><a href="{% url 'webmain:contact' %}" hx-get="{% url 'webmain:contact' %}" hx-target="#content-body" hx-push-url="true" class="main-nav__link ">Contacts</a></li>
                        </ul>
                    </div>
                    <button class="main-nav__button" aria-label="Open menu"><span></span> <span></span> <span></span>
                    </button>
                </nav>
                <a href="{% url 'webmain:contact' %}" hx-get="{% url 'webmain:contact' %}" hx-target="#content-body" hx-push-url="true" class="header__button">Start now</a></div>
        </div>
    </header>
    <main class="main" id="content-body">

    {% block content %}{% endblock content %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__container"><a class="footer__logo">
                <img src="assets/img/logo-footer.png"
                                                                        srcset="assets/img/logo-footer@2x.png 2x"
                                                                        alt="logo" width="178" height="52"></a>
                <ul class="footer__nav">
                    <li class="footer__nav-item">
                        <a href="{% url 'webmain:home' %}" hx-get="{% url 'webmain:home' %}" hx-target="#content-body" hx-push-url="true" class="footer__nav-link">Home</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="{% url 'webmain:about' %}" hx-get="{% url 'webmain:about' %}" hx-target="#content-body" hx-push-url="true"  class="footer__nav-link">About us</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Protection</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Fintech</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="footer__nav-link">Business and commerce</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="{% url 'webmain:contact' %}" hx-get="{% url 'webmain:contact' %}" hx-target="#content-body" hx-push-url="true"  class="footer__nav-link">Contacts</a>
                    </li>
                </ul>
                <ul class="footer__docs">
                    <li class="footer__docs-item"><a href="#" class="footer__docs-link">Privacy policy</a></li>
                    <li class="footer__docs-item"><a href="#" class="footer__docs-link">Terms of use</a></li>
                    <li class="footer__docs-item"><a href="#" class="footer__docs-link">Partners</a></li>
                    <li class="footer__docs-item"><a href="#" class="footer__docs-link">Help</a></li>
                    <li class="footer__docs-item"><a href="#" class="footer__docs-link">Сookies</a></li>
                    <li class="footer__docs-item"><a href="#" class="footer__docs-link">User agreement</a></li>
                </ul>
                <p class="footer__copyright"><a href="#">Privacy Policy</a> 2025 © Qoin+ All rights reserved<br>ILYA BIG
                    STAR LIMITED LIABILITY COMPANY<br>Michała Kleofasa Ogińskiego 11/9<br>03-318 Warsaw, Poland</p>
            </div>
        </div>
    </footer>
</div>
{% block footer %}{% endblock footer %}
<script src="{% static 'site/htmx.min.js' %}"></script>

<script src="{% static 'site/assets/js/script.js' %}"></script>
</body>
</html>