{% load static generals_tag %}
{% block content %}
<section class="promo promo--contact">
    <div class="promo__container container"><h1 class="promo__heading heading heading--size-l">Contact us</h1>
        <p class="promo__text">ILYA BIG STAR LIMITED LIABILITY COMPANY<br>Address: Michała Kleofasa Ogińskiego
            11/9<br>03-318 Warsaw, Poland<br><br>VASP License: RDWW-1097<br>KRS: 0001070217<br>NIP:
            5223278580<br>REGON: 527002360<br>Email: <a
                    href="mailto:info@ilyabigstar.com">info@ilyabigstar.com</a></p>
        <div class="promo__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6064.847906723773!2d72.80000075558249!3d40.53222181812866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdaf773756256b%3A0xc984ac342f0dd7e9!2sAskar%20Shakirov%20108-5!5e0!3m2!1sen!2suk!4v1729687659320!5m2!1sen!2suk"
                    style="border:0; width: 100%; height: 100%" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<section class="feedback-section feedback-section--black">
    <div class="container">
        <div class="feedback-section__container"><h2 class="feedback-section__heading heading heading--size-l">
            Still have questions?<br><span>Write to us!</span></h2>
            <p class="feedback-section__text">Fill out the form and our specialists will contact you as soon as
                possible</p>

            <form action="#" method="post" class="feedback-section__wrapper"
                  hx-post="{% url 'webmain:feedback_request' %}"
                  hx-target="this"
                  hx-swap="outerHTML">
                {% csrf_token %}

                <div class="feedback-section__input input">
                    <input type="text" name="website" placeholder="Your website" value="{{ form.website.value|default:'' }}">
                    {% if form.website.errors %}<div style="color: red; font-size: 12px; margin-top: 5px;">{{ form.website.errors.0 }}</div>{% endif %}
                </div>

                <div class="feedback-section__input input">
                    <input type="text" name="name" placeholder="Your name*" required value="{{ form.name.value|default:'' }}">
                    {% if form.name.errors %}<div style="color: red; font-size: 12px; margin-top: 5px;">{{ form.name.errors.0 }}</div>{% endif %}
                </div>

                <div class="feedback-section__input input">
                    <input type="tel" name="phone" placeholder="Your phone*" required value="{{ form.phone.value|default:'' }}">
                    {% if form.phone.errors %}<div style="color: red; font-size: 12px; margin-top: 5px;">{{ form.phone.errors.0 }}</div>{% endif %}
                </div>

                <div class="feedback-section__input input">
                    <input type="email" name="email" placeholder="Your e-mail" value="{{ form.email.value|default:'' }}">
                    {% if form.email.errors %}<div style="color: red; font-size: 12px; margin-top: 5px;">{{ form.email.errors.0 }}</div>{% endif %}
                </div>

                <div class="feedback-section__input input">
                    <textarea placeholder="Your message" name="message">{{ form.message.value|default:'' }}</textarea>
                    {% if form.message.errors %}<div style="color: red; font-size: 12px; margin-top: 5px;">{{ form.message.errors.0 }}</div>{% endif %}
                </div>

                <button class="feedback-section__button btn-submit" type="submit" style="z-index: 99999999;">
                    <span>Send</span>
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
