{% load static generals_tag %}
{% block content %}
<section class="promo promo--crypto">
    <div class="promo__container container"><h1 class="promo__heading heading heading--size-l">Crypto
        Exchange</h1>
        <p class="promo__text">Unlimited payments with acquiring of any currencies. We covSwap your crypto
            instantly with a fast, secure, and transparent exchange solution. Whether you’re trading Bitcoin,
            Ethereum, USDT, or trending altcoins, our platform makes it simple and efficient.er the world!</p>
    </div>
</section>
<section class="start">
    <div class="container">
        <div class="start__container"><h2 class="start__heading heading heading--size-m">Start Swapping Now</h2>
            <p class="start__description">Ready to exchange your crypto?<br>Click below to begin your secure
                swap.</p>
            <form action="#" method="post" class="start__form start-form">
                <div class="start-form__block"><p class="start-form__name heading heading--size-s">Send</p>
                    <div class="start-form__select-input">
                        <div class="select select--crypto" data-select>
                            <button class="select__btn" type="button" aria-haspopup="listbox"
                                    aria-expanded="false" aria-controls="send-crypto-list"
                                    id="send-crypto-select"><img src="{% static 'site/assets/img/logo-crypto/eth.svg' %}" alt="ETH"
                                                                 width="20" height=""> <span data-select-label>ETH</span>
                            </button>
                            <div class="select__menu select__menu--crypto" id="send-crypto-list" role="listbox"
                                 tabindex="-1" aria-labelledby="send-crypto-select" data-select-menu hidden>
                                <div class="select__menu-tabs">
                                    <div class="select__menu-tab select__menu-tab--active">All</div>
                                    <div class="select__menu-tab">Cryptocurrency</div>
                                </div>
                                <ul class="select__list select__list--crypto">
                                    <li role="option" aria-selected="true" data-value="ETH"><img
                                            src="{% static 'site/assets/img/logo-crypto/eth.svg' %}" alt="ETH" width="20"
                                            height="20"> ETH
                                    </li>
                                    <li role="option" data-value="WBTC"><img
                                            src="{% static 'site/assets/img/logo-crypto/wbtc.svg' %}" alt="WBTC" width="20"
                                            height="20"> WBTC
                                    </li>
                                    <li role="option" data-value="USDT"><img
                                            src="{% static 'site/assets/img/logo-crypto/usdt.svg' %}" alt="USDT" width="20"
                                            height="20"> USDT
                                    </li>
                                    <li role="option" data-value="BTC"><img src="{% static 'site/assets/img/logo-crypto/btc.svg' %}"
                                                                            alt="BTC" width="20" height="20">
                                        BTC
                                    </li>
                                    <li role="option" data-value="DOGE"><img
                                            src="{% static 'site/assets/img/logo-crypto/doge.svg' %}" alt="DOGE" width="20"
                                            height="20"> DOGE
                                    </li>
                                    <li role="option" data-value="SOL"><img src="{% static 'site/assets/img/logo-crypto/sol.svg' %}"
                                                                            alt="SOL" width="20" height="20">
                                        SOL
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="send-crypto" value="USD" data-select-input></div>
                        <div class="start-form__amount"><input type="number" name="send-amount">
                            <div class="select" data-select>
                                <button class="select__btn" type="button" aria-haspopup="listbox"
                                        aria-expanded="false" aria-controls="send-curr-list"
                                        id="send-curr-select"><span data-select-label>USD</span></button>
                                <ul class="select__menu" id="send-curr-list" role="listbox" tabindex="-1"
                                    aria-labelledby="send-curr-select" data-select-menu hidden>
                                    <li role="option" aria-selected="true" data-value="USD">USD</li>
                                    <li role="option" data-value="EUR">EUR</li>
                                    <li role="option" data-value="RUB">RUB</li>
                                </ul>
                                <input type="hidden" name="send-curr" value="USD" data-select-input></div>
                        </div>
                        <div class="input" style="position: absolute; inset: 0; z-index: -1"></div>
                    </div>
                    <div class="start-form__input input"><input type="text" name="name" placeholder="Your name">
                    </div>
                    <p class="start-form__note">Funds are accepted through a third-party payment system.<br>Exchanges
                        from cards issued by Russian and Belarusian banks are temporarily unavailable.<br>KYC is
                        underway.</p></div>
                <button type="button" class="start-form__reverse">
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.83368 15L20.167 15" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M10.9999 10.8337C10.9999 10.8337 6.83333 13.9023 6.83333 15.0003C6.83333 16.0983 11 19.167 11 19.167"
                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20.1668 5H6.8335" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M16.0001 9.16634C16.0001 9.16634 20.1667 6.09767 20.1667 4.99967C20.1667 3.90167 16 0.833008 16 0.833008"
                              stroke="white" stroke-width="1.5" xstroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="start-form__block">
                    <div class="start-form__block-header"><p class="start-form__name heading heading--size-s">
                        Receive</p>
                        <p class="start-form__rate">0.0023524 BTC</p></div>
                    <div class="start-form__select-input">
                        <div class="select select--crypto" data-select>
                            <button class="select__btn" type="button" aria-haspopup="listbox"
                                    aria-expanded="false" aria-controls="receive-crypto-list"
                                    id="receive-crypto-select"><img src="{% static 'site/assets/img/logo-crypto/btc.svg' %}"
                                                                    alt="BTC" width="20" height="20"> <span
                                    data-select-label>BTC</span></button>
                            <div class="select__menu select__menu--crypto" id="receive-crypto-list"
                                 role="listbox" tabindex="-1" aria-labelledby="receive-crypto-select"
                                 data-select-menu hidden>
                                <div class="select__menu-tabs">
                                    <div class="select__menu-tab select__menu-tab--active">All</div>
                                    <div class="select__menu-tab">Cryptocurrency</div>
                                </div>
                                <ul class="select__list select__list--crypto">
                                    <li role="option" data-value="ETH"><img src="{% static 'site/assets/img/logo-crypto/eth.svg' %}"
                                                                            alt="ETH" width="20" height="20">
                                        ETH
                                    </li>
                                    <li role="option" data-value="WBTC"><img
                                            src="{% static 'site/assets/img/logo-crypto/wbtc.svg' %}" alt="WBTC" width="20"
                                            height="20"> WBTC
                                    </li>
                                    <li role="option" data-value="USDT"><img
                                            src="{% static 'site/assets/img/logo-crypto/usdt.svg' %}" alt="USDT" width="20"
                                            height="20"> USDT
                                    </li>
                                    <li role="option" aria-selected="true" data-value="BTC"><img
                                            src="{% static 'site/assets/img/logo-crypto/btc.svg' %}" alt="BTC" width="20"
                                            height="20"> BTC
                                    </li>
                                    <li role="option" data-value="DOGE"><img
                                            src="{% static 'site/assets/img/logo-crypto/doge.svg' %}" alt="DOGE" width="20"
                                            height="20"> DOGE
                                    </li>
                                    <li role="option" data-value="SOL"><img src="{% static 'site/assets/img/logo-crypto/sol.svg' %}"
                                                                            alt="SOL" width="20" height="20">
                                        SOL
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="send-crypto" value="USD" data-select-input></div>
                        <div class="start-form__amount"><input type="number" name="send-amount">
                            <div class="start-form__amount-crypto">BTC</div>
                        </div>
                        <div class="input" style="position: absolute; inset: 0; z-index: -1"></div>
                    </div>
                    <div class="start-form__input input"><input type="text" name="address"
                                                                placeholder="Bitcoin address"></div>
                    <div class="start-form__footer"><label class="start-form__input-agree">
                        <div class="checkbox"><input type="checkbox" name="agree">
                            <div class="checkbox__box"></div>
                        </div>
                        <span class="start-form__note">I agree to the processing of personal data and accept the <a
                                href="">exchange rules</a></span></label>
                        <button type="submit" class="start-form__button btn-submit"><span>Exchange</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="crypto-logos">
    <div class="crypto-logos__container"><img src="{% static 'site/assets/img/eth.svg' %}" alt="ETH" width="76" height="28"> <img
            src="{% static 'site/assets/img/wbtc.svg' %}" alt="WBTC" width="95" height="28"> <img src="{% static 'site/assets/img/usdt.svg' %}"
                                                                              alt="USDT" width="91" height="28">
        <img src="{% static 'site/assets/img/btc.svg' %}" alt="BTC" width="76" height="28"> <img src="{% static 'site/assets/img/doge.svg' %}"
                                                                             alt="DOGE" width="104" height="28">
        <img src="{% static 'site/assets/img/sol.svg' %}" alt="SOL" width="94" height="28"></div>
</div>
<section class="licensed">
    <div class="container">
        <div class="licensed__container"><h2 class="licensed__heading heading heading--size-m">Licensed VASP in
            Poland</h2>
            <p class="licensed__text">A VASP (Virtual Asset Service Provider) license is a legal permit required
                for companies providing virtual (digital) asset services. A VASP license confirms that the
                company complies with regulatory standards, including AML and KYC procedures, and ensures
                security,transparency, and user protection.</p>
            <p class="licensed__block heading heading--size-s">Qoin+ holds VASP License No. RDWW-1097 issued by
                the Financial Supervision Commission (KNF), the authorized government agency in Poland.</p>
            <h2 class="licensed__heading heading heading--size-m">What a VASP license allows:</h2>
            <ul class="licensed__list">
                <li class="licensed__item"><img class="licensed__item-icon" src="{% static 'site/assets/img/icons/virtual.svg' %}"
                                                alt="" width="30" height="30">
                    <h3 class="licensed__item-name heading heading--size-s">Virtual asset exchange</h3>
                    <p class="licensed__item-text">Converting one cryptocurrency to another or to traditional
                        currencies (e.g., USD, EUR).</p></li>
                <li class="licensed__item"><img class="licensed__item-icon" src="{% static 'site/assets/img/icons/transfer.svg' %}"
                                                alt="" width="30" height="30">
                    <h3 class="licensed__item-name heading heading--size-s">Virtual asset transfer</h3>
                    <p class="licensed__item-text">Transferring cryptocurrency between users or platforms.</p>
                </li>
                <li class="licensed__item"><img class="licensed__item-icon" src="{% static 'site/assets/img/icons/custody.svg' %}"
                                                alt="" width="30" height="30">
                    <h3 class="licensed__item-name heading heading--size-s">Custody</h3>
                    <p class="licensed__item-text">Providing custody and management services for clients'
                        digital {% static 'site/assets, ensuring their safekeeping.</p></li>
                <li class="licensed__item"><img class="licensed__item-icon" src="{% static 'site/assets/img/icons/portfolio.svg' %}"
                                                alt="" width="30" height="30">
                    <h3 class="licensed__item-name heading heading--size-s">Portfolio Management</h3>
                    <p class="licensed__item-text">Professional management of cryptocurrency portfolios on
                        behalf of clients.</p></li>
                <li class="licensed__item"><img class="licensed__item-icon" src="{% static 'site/assets/img/icons/token.svg' %}"
                                                alt="" width="30" height="30">
                    <h3 class="licensed__item-name heading heading--size-s">Token Offering Services</h3>
                    <p class="licensed__item-text">Participation in organizing initial coin offerings (ITOs) and
                        other financial services related to the issuance of virtual {% static 'site/assets.</p></li>
            </ul>
        </div>
    </div>
</section>
<section class="risk">
    <div class="risk__container container"><h2 class="risk__heading heading heading--size-m">Why Choose Our
        Crypto Swap?</h2>
        <ul class="risk__list">
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/wide.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Wide Selection</h3>
                <p class="risk__item-text">Access dozens of coins and tokens across multiple networks</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/best.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Best Rates</h3>
                <p class="risk__item-text">Enjoy competitive market prices with minimal fees</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/instant.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name">Instant Transactions</h3>
                <p class="risk__item-text">Complete your swaps in just a few clicks</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/security.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Top-Tier Security</h3>
                <p class="risk__item-text">Industry-leading standards protect your {% static 'site/assets</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/cross.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name">Cross-Chain Support</h3>
                <p class="risk__item-text">Seamless swaps across different blockchains</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/247.svg' %}" alt="" width="48"
                                        height="48">
                <h3 class="risk__item-name heading heading--size-s">24/7 support</h3>
                <p class="risk__item-text">Our team is always ready to assist</p></li>
        </ul>
    </div>
</section>
{% endblock content %}

