{% load static generals_tag %}
{% block content %}
<section class="promo promo--main">
    <div class="promo__container container"><span class="promo__chip"><img src="{% static 'site/assets/img/icons/high-risk.svg' %}"
                                                                           alt=""> High risk acquiring</span>
        <h1 class="promo__heading heading heading--size-l">Others refuse?<br>We approve!</h1>
        <p class="promo__text">Unlimited payments with acquiring of any currencies. We cover the world!</p><a
                href="#" class="promo__button">Start now</a></div>
    <div class="promo__decoration">
        <div class="promo__decoration__card promo__decoration__card--orange card-decor card-decor--orange"></div>
        <div class="promo__decoration__card promo__decoration__card--white card-decor card-decor--white"></div>
    </div>
</section>
<section class="our-partners">
    <div class="container">
        <div class="our-partners__container"><h2 class="our-partners__heading heading heading--size-m">Our
            partners</h2>
            <ul class="our-partners__list">
                <li class="our-partners__item"><img src="{% static 'site/assets/img/logo-partner-1.svg' %}" alt="Logo" width="129"
                                                    height="32"></li>
                <li class="our-partners__item"><img src="{% static 'site/assets/img/logo-partner-2.svg' %}" alt="Logo" width="129"
                                                    height="32"></li>
                <li class="our-partners__item"><img src="{% static 'site/assets/img/logo-partner-3.svg' %}" alt="Logo" width="129"
                                                    height="32"></li>
                <li class="our-partners__item"><img src="{% static 'site/assets/img/logo-partner-4.svg' %}" alt="Logo" width="129"
                                                    height="32"></li>
                <li class="our-partners__item"><img src="{% static 'site/assets/img/logo-partner-5.svg' %}" alt="Logo" width="129"
                                                    height="32"></li>
            </ul>
        </div>
    </div>
</section>
<section class="advantages">
    <div class="advantages__container container"><h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item"><img class="advantages__item-icon" src="{% static 'site/assets/img/icons/cards.svg' %}"
                                              alt="" width="48" height="48">
                <p class="advantages__item-text">Fast and legal transactions in any payment systems (Visa,
                    Master Card, etc.) Fast and legal transactions in any payment systems (Visa, Master Card,
                    etc.)</p></li>
            <li class="advantages__item"><img class="advantages__item-icon" src="{% static 'site/assets/img/icons/scales.svg' %}"
                                              alt="" width="48" height="48">
                <p class="advantages__item-text">The terms of cooperation are determined based on your turnover
                    and are most beneficial for you</p></li>
            <li class="advantages__item"><img class="advantages__item-icon"
                                              src="{% static 'site/assets/img/icons/transparency.svg' %}" alt="" width="48"
                                              height="48">
                <p class="advantages__item-text">Transparent commissions for deposit and withdrawal of funds</p>
            </li>
        </ul>
        <div class="advantages__decoration">
            <div class="advantages__decoration-card advantages__decoration-card--white card-decor card-decor--white"></div>
            <div class="advantages__decoration-card advantages__decoration-card--orange card-decor card-decor--orange"></div>
        </div>
    </div>
</section>
<section class="risk">
    <div class="risk__container container"><h2 class="risk__heading heading heading--size-m">High risk
        acquiring</h2>
        <p class="risk__description">Multicurrency acquiring supports all types of payment cards and the most
            popular cryptocurrencies (Bitcoin, Ethereum, etc.)</p>
        <ul class="risk__list">
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/payments.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Multicurrency payments</h3>
                <p class="risk__item-text">Accept any payments on your website. There are no restrictions on
                    region, currency and amount</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/legal.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Accompanying accounting</h3>
                <p class="risk__item-text">Get legal closing documents in compliance with all acquirer
                    requirements</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/security.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name">Complete security</h3>
                <p class="risk__item-text">All data is protected with two factor authentication, 3-D Secure
                    and PCI DSS</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/247.svg' %}" alt="" width="48"
                                        height="48">
                <h3 class="risk__item-name heading heading--size-s">24/7 support</h3>
                <p class="risk__item-text">Our technical support are available 24/7 and are always ready to help
                    you</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/personal.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Personal Area</h3>
                <p class="risk__item-text">Get access to 24/7 transactions, reporting and statistics</p></li>
            <li class="risk__item"><img class="risk__item-icon" src="{% static 'site/assets/img/icons/flexible.svg' %}" alt=""
                                        width="48" height="48">
                <h3 class="risk__item-name heading heading--size-s">Flexible pricing policy</h3>
                <p class="risk__item-text">Floating commissions and special conditions for international
                    business</p></li>
        </ul>
    </div>
</section>
<section class="who-is">
    <div class="who-is__container container"><h2 class="who-is__heading heading heading--size-m">Who is our High
        Risk acquiring suitable for?</h2>
        <p class="who-is__description">High Risk acquiring from Qoin+ has no geographic and monetary
            restrictions, supports cryptocurrencies, works with any payment cards. Our clients are:</p>
        <ul class="who-is__list">
            <li class="who-is__item"><img class="who-is__item-icon" src="{% static 'site/assets/img/icons/bookmaker.svg' %}" alt=""
                                          width="30" height="30">
                <h3 class="who-is__item-name heading heading--size-s">Bookmaker Companies</h3>
                <p class="who-is__item-text">Use our acquiring to receive payments from clients all over the
                    world. The residence of your company does not matter.</p></li>
            <li class="who-is__item"><img class="who-is__item-icon" src="{% static 'site/assets/img/icons/gambling.svg' %}" alt=""
                                          width="30" height="30">
                <h3 class="who-is__item-name heading heading--size-s">Gambling Platforms</h3>
                <p class="who-is__item-text">Your players will no longer have regional and legal restrictions.
                    Accept payments from cards and cryptocurrency wallets.</p></li>
            <li class="who-is__item"><img class="who-is__item-icon" src="{% static 'site/assets/img/icons/crypto.svg' %}" alt=""
                                          width="30" height="30">
                <h3 class="who-is__item-name heading heading--size-s">Crypto currency exchanges</h3>
                <p class="who-is__item-text">Use unlimited transactions without violating regulatory
                    requirements. Our tokenization will allow you to conveniently carry out settlements with
                    your clients.</p></li>
        </ul>
        <div class="who-is__decoration">
            <div class="who-is__decoration-card who-is__decoration-card--white card-decor card-decor--white"></div>
            <div class="who-is__decoration-card who-is__decoration-card--orange card-decor card-decor--orange"></div>
        </div>
    </div>
</section>
<div class="risk-form">
    <form class="container">
        <div class="risk-form__container"><h2 class="risk-form__heading heading heading--size-m">Leave a request
            for connection to High Risk acquiring</h2>
            <p class="risk-form__description">Our experts will contact you as soon as possible and advise on the
                terms of connection</p>
            <div class="risk-form__wrapper">
                <div class="risk-form__input input"><input type="text" name="name" placeholder="Your name">
                </div>
                <div class="risk-form__input input"><input type="text" name="contact"
                                                           placeholder="Your contact"></div>
                <button class="risk-form__button btn-submit" type="submit" ><span>Send</span></button>
            </div>
        </div>
    </form>
</div>
<section class="acquiring">
    <div class="acquiring__container container"><h2 class="acquiring__heading heading heading--size-m">
        Cryptocurrency acquiring</h2>
        <p class="acquiring__description">HighRisk acquiring provides for the possibility of settlements in
            cryptocurrency, without chargeback and with complete transparency of transactions. Benefits of
            tokenization for clients:</p>
        <div class="acquiring__wrapper">
            <div class="acquiring__decoration"></div>
            <ul class="acquiring__list">
                <li class="acquiring__item">
                    <div class="acquiring__item-icon"><img src="{% static 'site/assets/img/icons/crypto.svg' %}" alt="" width="12"
                                                           height="12"></div>
                    <h3 class="acquiring__item-name heading heading--size-s">Cryptocurrency payment</h3>
                    <p class="acquiring__item-text">Accept crypto payments on your website<br>instantly and
                        without intermediaries</p></li>
                <li class="acquiring__item">
                    <div class="acquiring__item-icon"><img src="{% static 'site/assets/img/icons/clients.svg' %}" alt="" width="12"
                                                           height="12"></div>
                    <h3 class="acquiring__item-name heading heading--size-s">New clients</h3>
                    <p class="acquiring__item-text">The availability of payment in tokens and coins makes your
                        goods and services more accessible to crypto holders</p></li>
                <li class="acquiring__item">
                    <div class="acquiring__item-icon"><img src="{% static 'site/assets/img/icons/transparency.svg' %}" alt=""
                                                           width="12" height="12"></div>
                    <h3 class="acquiring__item-name heading heading--size-s">Financial transparency</h3>
                    <p class="acquiring__item-text">Two-way verification of the legitimacy of accounts and
                        transactions for the needs of risk management and for your clients</p></li>
                <li class="acquiring__item">
                    <div class="acquiring__item-icon"><img src="{% static 'site/assets/img/icons/processing.svg' %}" alt=""
                                                           width="12" height="12"></div>
                    <h3 class="acquiring__item-name heading heading--size-s">High processing speed</h3>
                    <p class="acquiring__item-text">In the process of processing transactions, br only our own
                        servers are used</p></li>
                <li class="acquiring__item">
                    <div class="acquiring__item-icon"><img src="{% static 'site/assets/img/icons/cost.svg' %}" alt="" width="12"
                                                           height="12"></div>
                    <h3 class="acquiring__item-name heading heading--size-s">Low cost</h3>
                    <p class="acquiring__item-text">Flexible tariff plans and a universal approach to acquiring
                        commissions without monthly fees</p></li>
                <li class="acquiring__item">
                    <div class="acquiring__item-icon"><img src="{% static 'site/assets/img/icons/chargeback.svg' %}" alt=""
                                                           width="12" height="12"></div>
                    <h3 class="acquiring__item-name heading heading--size-s">No chargeback</h3>
                    <p class="acquiring__item-text">The impossibility of direct opposition<br>of the completed
                        transaction by the user</p></li>
            </ul>
        </div>
    </div>
</section>
<section class="feedback-section">
    <div class="feedback-section__container container"><h2
            class="feedback-section__heading heading heading--size-l">Still have questions?<br><span>Write to us!</span>
    </h2>
        <p class="feedback-section__text">Fill out the form and our specialists will contact you as soon as
            possible</p>
        <form action="#" method="post" class="feedback-section__wrapper">
            <div class="feedback-section__input input"><input type="text" name="website"
                                                              placeholder="Your website"></div>
            <div class="feedback-section__input input"><input type="text" name="name" placeholder="Your name*"
                                                              required></div>
            <div class="feedback-section__input input"><input type="tel" name="phone" placeholder="Your phone*"
                                                              required></div>
            <div class="feedback-section__input input"><input type="email" placeholder="Your e-mail"></div>
            <div class="feedback-section__input input"><textarea placeholder="Your message"
                                                                 name="message"></textarea></div>
            <button class="feedback-section__button btn-submit" type="submit" style="
    z-index: 99999999;
"><span>Send</span></button>
        </form>
    </div>
</section>
<div class="payment-systems">
    <div class="container">
        <div class="payment-systems__container"><img class="payment-systems__img"
                                                     src="{% static 'site/assets/img/mastercard.svg' %}" alt="mastercard logo"
                                                     width="106" height="37"> <img class="payment-systems__img"
                                                                                   src="{% static 'site/assets/img/visa.svg' %}"
                                                                                   alt="visa logo" width="87"
                                                                                   height="37"></div>
    </div>
</div>
</main>

{% endblock content %}