{% extends 'base.html' %}
{% load static generals_tag i18n %}
<!---title-->
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}

<!---head-->
{% block head %}{% endblock head %}
{% block content %}
{{ page.description|safe }}
{% endblock content %}

