:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 3188px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 150px;
  position: absolute;
  width: 1440px;
  height: 3099px;
  top: 0;
  left: 0;
}
.ellipse {
  flex-shrink: 0;
  position: absolute;
  width: 980.022px;
  height: 1212.578px;
  top: 50%;
  left: 978.574px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/F6zzEgZvwb.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 167.46%);
  filter: blur(181.45px);
  z-index: 1;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 103px;
  position: relative;
  min-width: 0;
  padding: 50px 120px 0 120px;
  z-index: 2;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 50px;
  z-index: 3;
}
.qoinplus-logo {
  flex-shrink: 0;
  position: relative;
  width: 171px;
  height: 50px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/i0ztDc82HY.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.menu-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 620px;
  z-index: 5;
}
.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 50px;
  padding: 0 25px 0 25px;
  z-index: 6;
  border-radius: 25px;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 50px;
  padding: 0 25px 0 25px;
  z-index: 8;
  border-radius: 25px;
}
.about-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 50px;
  padding: 0 25px 0 25px;
  z-index: 10;
  border-radius: 25px;
}
.exchange {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 50px;
  padding: 0 25px 0 25px;
  background: linear-gradient(90deg, #f26f21, #ef522d);
  z-index: 12;
  border-radius: 25px;
}
.span {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.div-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 50px;
  padding: 0 25px 0 25px;
  z-index: 14;
  border-radius: 25px;
}
.span-3 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 150px;
  height: 50px;
  padding: 13px 24px 13px 24px;
  background: linear-gradient(90deg, #f26f21, #ef522d);
  z-index: 16;
  border-radius: 42px;
}
.start-now {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.right-arrow {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/pnyLLXhgiJ.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
  overflow: hidden;
}
.cap-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  width: 951px;
  z-index: 19;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 692px;
  z-index: 20;
}
.terms-and-conditions {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.6;
  z-index: 21;
}
.cookie-policy {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.6;
  z-index: 22;
}
.personal-data-processing {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.6;
  z-index: 23;
}
.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 94px;
  padding: 10px 20px 10px 20px;
  z-index: 24;
  border-radius: 999px;
}
.aml-kyc-4 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(90deg, #f26f21, #ef522d);
  z-index: 25;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  z-index: 26;
}
.anti-money-laundering {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 951px;
  height: 28px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  width: 850px;
  z-index: 28;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 850px;
  z-index: 29;
}
.service-rules {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 168px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 30;
}
.prohibited-transfers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 160px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 31;
}
.empty-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 850px;
  z-index: 32;
}
.kyc-policy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 308px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 33;
}
.violation-requirements {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 264px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 34;
}
.empty-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 850px;
  z-index: 35;
}
.high-risk-transactions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 476px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 36;
}
.money-laundering-identification {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 620px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 37;
}
.div-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 850px;
  z-index: 38;
}
.span-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 850px;
  height: 140px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  opacity: 0.6;
  z-index: 39;
}
.ellipse-a {
  flex-shrink: 0;
  position: absolute;
  width: 1157.155px;
  height: 1541.053px;
  top: -988px;
  right: -579.512px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/W9q54zXEZs.png)
    no-repeat center;
  background-size: cover;
  filter: blur(181.45px);
  z-index: 40;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  height: 314px;
  padding: 0 120px 0 120px;
  z-index: 41;
}
.frame-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  padding: 48px 78px 48px 78px;
  background: #000000;
  z-index: 42;
  border-radius: 24px;
}
.logo {
  flex-shrink: 0;
  position: relative;
  width: 178px;
  height: 52px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/5KttY9vXu3.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.menu-c {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 1179px;
  position: relative;
  height: 50px;
  z-index: 44;
}
.frame-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  width: 701px;
  z-index: 45;
}
.home-e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.about-us-f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.protection {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.fintech {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.business-and-commerce {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.contacts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.line {
  flex-shrink: 0;
  position: relative;
  width: 1020px;
  height: 1px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/fvC5hM5bSp.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.frame-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 417px;
  z-index: 53;
}
.privacy-policy {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 17px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 54;
}
.terms-of-use {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 74px;
  height: 17px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 55;
}
.partners {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 49px;
  height: 17px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 56;
}
.help {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 27px;
  height: 17px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 57;
}
.cookies {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 46px;
  height: 17px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 58;
}
.user-agreement {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 92px;
  height: 17px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 59;
}
.all-rights-reserved {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 896px;
  height: 80px;
  color: #989898;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  text-overflow: initial;
  z-index: 60;
  overflow: hidden;
}
.ellipse-11 {
  position: absolute;
  width: 1193.854px;
  height: 1118.409px;
  top: 50%;
  left: 885px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-18/9ptQ7trpxa.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -108.9%);
  filter: blur(181.45px);
  z-index: 61;
}
